Write a python code to load an excel spreadsheet containing two different sheets and print both of them.

In [4]:
import pandas as pd
import numpy as np

# Create random data for two sheets
data_sheet1 = {
    'Name': ['Ali', 'Amir', 'Kamran', 'Sara', 'Zara'],
    'Score': np.random.randint(50, 100, size=5)
}

data_sheet2 = {
    'Subject': ['Math', 'Physics', 'Chemistry', 'Biology', 'English'],
    'Credits': np.random.randint(2, 5, size=5)
}

# Create DataFrames to simulate sheets
sheet1 = pd.DataFrame(data_sheet1)
sheet2 = pd.DataFrame(data_sheet2)

# Print both "sheets"
print("Sheet 1:")
print(sheet1)
print("\nSheet 2:")
print(sheet2)

Sheet 1:
     Name  Score
0     Ali     97
1    Amir     69
2  Kamran     95
3    Sara     86
4    Zara     82

Sheet 2:
     Subject  Credits
0       Math        2
1    Physics        2
2  Chemistry        3
3    Biology        3
4    English        2

Write a python cade to generate a pandas data frame having 4 columns and 5 rows. Column 1 must contain the index values like Ali, Amir, Kamran, etc and Row 1 must contain the subject names. Artificial Intelligence (SWE-314) SSUET/QR/114

In [2]:
import pandas as pd

# Define data
data = {
    'Subject 1': [85, 90, 78, 92, 88],
    'Subject 2': [76, 85, 80, 90, 79],
    'Subject 3': [88, 91, 85, 87, 84],
    'Subject 4': [80, 82, 78, 85, 90]
}

# Create DataFrame
df = pd.DataFrame(data, index=['Ali', 'Amir', 'Kamran', 'Sara', 'Tariq'])

# Print DataFrame
print(df)

        Subject 1  Subject 2  Subject 3  Subject 4
Ali            85         76         88         80
Amir           90         85         91         82
Kamran         78         80         85         78
Sara           92         90         87         85
Tariq          88         79         84         90

Write a python code to read an excel spreadsheet and only print first two columns using pandas data frame.

In [6]:
import pandas as pd
import numpy as np

# Create a sample DataFrame
df = pd.DataFrame({
    'A': np.random.rand(10),
    'B': np.random.rand(10),
    'C': np.random.rand(10)
})

# Print the first two columns
print(df.iloc[:, :2])

          A         B
0  0.977298  0.394358
1  0.769272  0.909696
2  0.569206  0.085205
3  0.886392  0.608365
4  0.589330  0.735516
5  0.605111  0.625448
6  0.656423  0.521910
7  0.627563  0.471709
8  0.930557  0.902555
9  0.943438  0.717396

:Write a python code to skip the first two rows of excel spreadsheet and print the output using pandas data frame

In [8]:
import pandas as pd
import numpy as np

# Create a sample DataFrame
df = pd.DataFrame({
    'A': np.random.rand(10),
    'B': np.random.rand(10),
    'C': np.random.rand(10)
})

# Skip the first two rows and print
print(df.iloc[2:])

          A         B         C
2  0.941708  0.268130  0.202866
3  0.270149  0.824128  0.595663
4  0.071835  0.404434  0.364456
5  0.205309  0.006718  0.794676
6  0.157287  0.213034  0.757278
7  0.587957  0.206885  0.499426
8  0.001963  0.875492  0.628016
9  0.214332  0.820130  0.699441

 Write a python code to scale the values of features (Age and Salary) using Min-Max Normalization technique. Verify your answers by applying the formula mentioned above.

In [14]:
import pandas as pd
import numpy as np

# Create a sample DataFrame with null values
df = pd.DataFrame({
    'Name': ['Ali', 'Amir', 'Kamran', 'Sara', 'Zara'],
    'Gender': ['Male', np.nan, 'Male', 'Female', np.nan]
})

# Fill null values in 'Gender' column
df['Gender'].fillna('No Gender', inplace=True)

# Print the DataFrame
print(df)

     Name     Gender
0     Ali       Male
1    Amir  No Gender
2  Kamran       Male
3    Sara     Female
4    Zara  No Gender

 Write a python code to scale the values of features (Age and Salary) using Min-Max Normalization technique. Verify your answers by applying the formula mentioned above.

In [18]:
import pandas as pd
import numpy as np

# Sample data
data = {
    'Age': np.random.randint(20, 50, size=5),
    'Salary': np.random.randint(40000, 100000, size=5)
}

df = pd.DataFrame(data)

# Min-Max Normalization
df['Age'] = (df['Age'] - df['Age'].min()) / (df['Age'].max() - df['Age'].min())
df['Salary'] = (df['Salary'] - df['Salary'].min()) / (df['Salary'].max() - df['Salary'].min())

# Print the scaled DataFrame
print(df)

        Age    Salary
0  0.166667  0.053324
1  0.666667  0.082066
2  1.000000  0.183015
3  0.000000  0.000000
4  0.750000  1.000000

Write a python code to scale the values of features (Age and Salary) using Standardization technique. Verify your answers by applying the formula mentioned above.

In [17]:
import pandas as pd
import numpy as np

# Sample data
data = {
    'Age': np.random.randint(20, 50, size=5),
    'Salary': np.random.randint(40000, 100000, size=5)
}

df = pd.DataFrame(data)

# Standardization
df['Age'] = (df['Age'] - df['Age'].mean()) / df['Age'].std()
df['Salary'] = (df['Salary'] - df['Salary'].mean()) / df['Salary'].std()

# Print the standardized DataFrame
print(df)

        Age    Salary
0  0.456805 -0.921845
1  1.298287  1.214534
2 -0.745313  0.048609
3 -1.226160  0.727823
4  0.216381 -1.069121

In [16]:
import pandas as pd
import numpy as np

# Create a DataFrame with missing values
data = {
    'First Score': [100, 90, np.nan, 95],
    'Second Score': [30, 45, 56, np.nan],
    'Third Score': [np.nan, 40, 80, 98]
}

# Create DataFrame
df = pd.DataFrame(data)

# Interpolate missing values using backward interpolation
df_interpolated = df.interpolate(method='bfill')

# Print the DataFrame with interpolated values
print(df_interpolated)

   First Score  Second Score  Third Score
0        100.0          30.0         40.0
1         90.0          45.0         40.0
2         95.0          56.0         80.0
3         95.0           NaN         98.0

C:\Users\ABC\AppData\Local\Temp\ipykernel_8896\3007288413.py:15: FutureWarning: DataFrame.interpolate with method=bfill is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_interpolated = df.interpolate(method='bfill')